*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
    height: 100%;
	
}

#header{
	width: 100%;
	height:  600px;
	background: url("assets/StockImage-Header.jpg");
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.dot{
		height: 5px;
        width: 5px;
        background-color:  hsl(0, 0%, 70%);
        border-radius: 50%;
        display: inline-block;
		margin-bottom: 0.2rem;
	}
      /*=================================================================nav-header============================================*/
#nav-header{
	width: 100%;
	height: 5rem;
	background: hsl(150, 50%, 30%);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	box-shadow: 0px 0px 10px #000000;
}
#nav-header img{
	
	margin-left: 1.5rem;
	float: left;
}
.nav-options{
	max-width: 900px;
	float: right;
	height: auto;
	
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}
.products, .data, .research, .support, .community{
	float: left;
	width: 100px;
	height: auto;
	
	font-size: 20px;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	
	text-align: center;
	
	position: relative;
	cursor: pointer;
	

}
.products-sub, .data-sub, .research-sub, .support-sub, .community-sub{
	
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	position: absolute;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: hsla(180, 20%, 20%, 70%);
	opacity: 0;
	transition: opacity .30s ease-in-out;
	cursor: context-menu;
}
.products-sub{
	width: 800px;
}
.data-sub, .research-sub, .support-sub, .community-sub{
	width: 300px;
	
	text-align: left;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: hsl(0, 0%, 70%);
	
}
.data-sub hr{
  width: 150px;
}
.data-sub p, .research-sub p, .support-sub p, .community-sub p{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.product1, .product2, .product3{
	float: left;
	text-align: left;
    margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: hsl(0, 0%, 70%);
	
}
.product1 p, .product2 p , .product3 p{
	
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.product1 hr, .product2 hr, .product3 hr{
	height: 1px;
	border: none;
	background: white;
	
}
 
@media(min-width: 990px){
.nav-options2{
	display: none;
}
}

@media(max-width:990px){
	
	.nav-options{
		display: none;
	}
	
	.content-bar{
		float: right;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		margin-top: 0.5rem;
		
	}
		.bar1, .bar2, .bar3{
	width: 35px;
     height: 4px;
    background-color: black;
    margin: 6px 0px;
	margin-left: 0.5rem;
	
	
}
	.nav-buttons2{
		width: 0;
		height: 100%;
		background:  hsla(180, 20%, 20%, 70%); 
		position: fixed;
		top: 0;
		right: 0;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		overflow: hidden;
	   transition: width 1s;
		overflow-y: scroll;
	}
	.nav-button2-toggle{
		width: 100%;
		transition: width 1s;
	}
	.nav-buttons2 p{
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.bigger{
		text-align: center;
		font-size: 25px;
		padding-top:  0.5rem;
		padding-bottom: 0.5rem;
		color: hsl(0, 0%, 70%);
	}
	
	
	.products2, .data2, .research2, .support2, .company2{
		width: 300px;
		height: 50px;
		transition: height 1s;
		margin-right: auto;
		margin-left: auto;
		display: block;
		overflow: hidden;
		color: hsl(0, 0%, 70%);
		text-align: left;
		
	}
	.lf{
		padding-left: 2rem;
	}
	
	.toggle-products{
		height: auto;
		transition: height 1s;
	
		
	}
	.close{
		color: hsl(0, 100%, 70%);
		position: absolute;
		top: 0;
		right: 0;
		font-size: 40px;
		cursor: pointer;
		transition: width 1s;
	}
	.close2{
		background: red;
	}
}
/*=============================================================landing-page1===============================================*/

.background-black{
	width: 100%;
	height: 100%;
	background:  hsla(0, 0%, 10%, 70%);
	
}
.landing-page1{
	width: 750px;
	height:  auto;
	color: hsl(0, 0%, 70%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.landing-page1-text{
	height: auto;
	position: absolute;
	top: -180px;
	font-size: 20px;
	opacity: 0;
     
}
@media(max-width: 950px){
	.landing-page1-text{
		margin-left: 1rem;
		
	}
}
.landing-page1-text h4{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.landing-page1-text p{
	
	line-height: 1.9;
}
.landing-page1-button{
	 width: `100%;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
}
.landing-page1-button button{
	display: inline-block;
	font-size: 20px;
	padding: 10px;
	background: none;
	border-radius: 50px;
	/*border: 3px solid hsl(150, 100%, 35%);*/
	color: hsl(0, 0%, 70%);
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	
}
.landing-page1-button button, .welcome button, .welcome-button {
	border: 3px solid hsl(150, 100%, 35%);
}
.button1:hover{
	background: hsla(0, 0%, 95%, 50%);
	transition:  .3s ease-in;
	color: black;
}
.button1{
	position: absolute;
	top: 200px;
	left: 0;
	opacity: 0;
	
	
}
.button2{
	opacity: 0;
	position: absolute;
	top: 200px;
	left: 55%;
}

.button2:hover{
	background: hsla(0, 0%, 95%, 50%);
	transition:  .3s ease-in;
	color: black;
}
@media(min-width: 750px){
	.landing-page2{
		display: none;
	}
}

@media(max-width: 750px){
	.landing-page1{
		display: none;
		
	}
	
	.landing-page2{

	color: hsl(0, 0%, 70%);
	
	
}
	.welcome button{ 
	
	font-size: 20px;
	padding: 10px;
	background: hsla(0, 0%, 95%, 70%);
	border-radius: 50px;
	
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		 
		
	}
	.welcome-informations{
		width: 100%;
		height: 0%;
		position: fixed;
		top: 0;
		right: 0;
		background: hsla(180, 20%, 20%, 90%); 
		overflow: hidden;
		transition: height 1s;
		z-index: 2;
	}
	.welcome-text{
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		line-height: 1.6;
		word-break: keep-all;
		
		
		
	}
	.welcome-button{
		margin-left: auto;
		margin-right: auto;
		display: block;
		font-size: 10px;
	    padding: 5px;
	   background:  hsla(0, 0%, 95%, 50%);;
	   border-radius: 50px;
	   
	   color: black;
	   margin-top: 2rem;
	   margin-bottom: 2rem;
	
	}
	.welcome-button2-toggle{
		height: 100%;
		transition: height 1s;
		
	}
	
}
      /*==================================================================products-services====================================*/

#main{
	width: 100%;
	height: 100%;
	background: hsl(156, 100%, 45%);
	
	font-family: 'Poppins', sans-serif;
	color: hsl(0, 0%, 70%);
	
	
}
.background-services-main{
	width: 100%;
	height: 100%;
	background:  hsla(0, 0%, 10%, 50%);
	padding-top: 5rem;
}
.background-services{
	width: 100%;
	height: 100%;
	background:  hsla(0, 0%, 10%, 50%);
	padding-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	
}
.products-services{
	width: 100%;
	background: hsl(180, 20%, 45%);
	text-align: center;
	position: relative;
	
	
	
}
/*.columns{
	width: 1200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/
.column1{
	
	
	 box-shadow: 0px 0px 10px #000000;
	
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*position: relative;*/
	background: hsl(240, 20%, 40%);
	margin-bottom: 2rem;
}
/*#columns1, #columns3, #columns5{
	display: block ;
	position: absolute;
	top: 600px;
	
	
}*/

.columns2, .columns4, .columns6{
	display: none ;

}

	

.columns1{
	left: 1%;
}


	.columns3{
	left: 33%;
}
.columns5{
	left: 66%;
}


@media(min-height: 1300px){
#columns1, #columns3, #columns5{
	display: none;
	
}	
	.columns2, .columns4, .columns6{
		
		display: block !important;
		position: absolute;
	    top: 600px;
	}
}
.column1 p{
	line-height: 1.9;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: left;
	font-size: 15px;
}
.products-services h2{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.column1 h5{
	font-size: 20px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.button-absolute{
	width: 100%;
	
	bottom: 20px;
	left: 5px;
}
.column1 button{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 10px;
	border: 2px groove hsl(180, 100%, 20%);
	background: none;
	border-radius:  50px;
	transition:  .3s ease-in;
}
.join:hover, .go:hover, .rates:hover, .feed:hover{
	background:  hsla(0, 0%, 95%, 50%);
	color: black;
	transition:  .3s ease-in;
}
#but-subscribe{
	cursor: not-allowed;
}
@media(min-width: 1020px){
	.column1{
	width: 30%;	
	/*float: left;*/
	height: 500px;	
	}
	#columns1, #columns3, #columns5{
	display: block ;
	position: absolute;
	top: 600px;
	
	
}
	.products-services{
	height: 650px;
	}
	.button-absolute{
	position: absolute;
	}
	
}
@media(max-width: 1020px){
	#columns1, #columns3, #columns5{
		max-width: 300px;
		margin-right: auto ;
		margin-left: auto ;
		display: block !important ;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	
	.products-services{
	 height: auto;
	}
	
}
/*==============================================================CM-ADVANTAGE=======================================*/


.cm-advantage{
	width: 100%;
	height: 700px;
	background: hsl(150, 50%, 40%);
	
	position: relative;
	
}
.cm-advantage h2 {
	text-align: center;
}
.advantage-absolute{
	width: 100%;
	height: 100%;
	padding-right: 3rem;
	padding-left: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.line{
	width: 0%;
	height: 1rem;
	background: hsl(0, 0%, 65%);
	border-radius: 50px;
	margin-top: 14rem;
	
	float: left;
	/*margin-right: auto;
	margin-left: auto;
	display: block;*/
	
}
.high-quality, .comprehensive, .purpose, .accesible{
	width: 200px;
	height: auto;
	text-align: center;
	line-height: 1.6;
	text-align: left;
	position: absolute;

	
}

.high-quality{
	top: 140px;
	left: 15%;
}
.comprehensive{
	top: 140px;
	left: 35%;
}
.purpose{
	top: 140px;
	left: 55%;
}
.accesible{
	top: 140px;
	left: 75%;
}
.cm-text-center{
	font-size: 20px;
}
@media(max-width: 1000px){
	.cm-advantage{
		display: none;
	}
	.cm-advantage2{
	width: 100%;
	height: 800px;
	background: hsl(150, 50%, 40%);
	
	position: relative;
	
}
	
	.line2{
	width: 1rem;
	height: 90%;
	background: hsl(0, 0%, 65%);
	border-radius: 50px;
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	margin-right: auto;
	    margin-left: auto;
	   display: block;	
}
	
	.wrapper-quality{
		width: 300px;
		height: auto;
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.quality-image2{
		width: 150px;
		height: 100px;
		padding-top: 0.5rem;
		background: hsl(0, 0%, 70%);
	    border-radius: 10px;
		margin-right: auto;
	    margin-left: auto;
	   display: block;
	    margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.quality-image2 img{
		margin-right: auto;
	    margin-left: auto;
	    display: block;
	}
	
	
	
	


	
}

@media(min-width: 1000px){
	.cm-advantage2{
		display: none;
	}
	
	
}

.quality-image{
    width: 0;
	height: 100px;
	
	background: hsl(0, 0%, 70%);
	border-radius: 10px;
	padding-top: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	
}


.high-quality img, .comprehensive img, .purpose img, .accesible img{
	
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.high-quality p, .accesible p{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.data-center{
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}
            /*======================================================latest-news==============================================*/
.latest-news{
	width: 100%;
	height: 500px;
	background: hsl(156, 100%, 45%);
    
	position: relative;
}
#wrapper-news{
	width: 100%;
	height: 350px;
	overflow: auto;
	
	
}
.scroll-news{
	width: 2000px;
	height: 100%;
}
.news{
	width: 400px;
	height: 300px;
	background: red;
	 box-shadow: 0px 0px 10px #000000;
	float: left;
	margin-left: 1rem;
	margin-right: 1rem;
}
.image-news{
	width: 100%;
	height: 80%;
	overflow: hidden;
}

.image-news img{
	width: 100%;
	height: 100%;
	transition: .50s ease-in;
}
.image-news img:hover{
	transform: scale(1.3);
	transition: .50s ease-in;
}
.paragraph-news{
	width: 100%;
	height: auto;
	background: hsl(0, 0%, 80%);
	color: black;
	line-height: 1.6;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	
}

#wrapper-news::-webkit-scrollbar {
    width: 10px;
	
}

#wrapper-news::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	
}

#wrapper-news::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background: hsl(150, 50%, 35%);
	
}
@media(max-width: 650px){
	#wrapper-news{
	width: 100%;
	height: 270px;
	}
	.news{
	width: 300px;
	height: 200px;
	}
	.latest-news{
	height: 400px;
	}
}

  /*========================================================skew-sectioon====================================================================*/


.skew-section{
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
	
}



.subscribe-section{
	width: 45%;
	height: 100%;
	background: hsl(180, 20%, 45%);
	float: left;
	position: relative;
	
}

.background-services{
	
}
.subscribe-skew{
	width: 2%;
	height: 100%;
	float: left;
	background: hsl(180, 20%, 45%);
}
.subscribe-skew2{
	width: 10%;
  height: 100%;
  background: hsl(180, 20%, 45%) ;
  float: left;
  position: absolute;
   top: 0%;
   left: 40%;
   transform:  perspective(400px) skew(-10deg);
   
  	
}
.subscribe-wrapper{
	width: 300px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	top: 50%;
	left: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.subscribe-wrapper h4{
	
	font-size: 20px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}
.subscribe-wrapper input{
	width: 90%;
	height: 2rem;
	border: none;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background: hsla(0, 0%, 90%, 50%);
	outline: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.subscribe-wrapper button{
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 20px;
	padding: 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 50px;
	background: none;
	border: 1px solid  hsl(180, 20%, 40%);
	
}



.bitcoin-section{
	width: 55%;
	height: 100%;
	background: /*hsl(150, 100%, 75%)*/  hsl(150, 50%, 40%) ;
	float: left;
	z-index: 10;
	
	
}

.bitcoin, .ethereum, .xrp{
	width: 70px;
	height: 70px;
	
	
	
	
}
.bitcoin{
	right: 35%;
}
.ethereum{
	right: 20%;
}
.xrp{
	right: 5%;
}

.bitcoin img, .ethereum img, .xrp img{
	width: 100%;
	height: 100%;
	
}
.rotate{
	animation: move 3s  linear infinite;
	
	
}
-webkit-@keyframes  move{
	
	100% {transform: rotate(360deg) };
}
@keyframes  move{
	
	100% {transform: rotate(360deg) };
}
@media(min-width: 700px){
	#nav-header img{
	width: 80px;
	height: 60px;
	}
	.bitcoin-phone{
		display: none;
	}
	.bitcoin, .ethereum, .xrp{
		position: absolute;
	    top: -100px;
	}
	
}
@media(max-width: 700px){
	#nav-header img{
	margin-top: 0.5rem;	
	width: 50px ;
	height: 40px;
	
	}
	.subscribe-section{
		width: 100%;
		height: 200px;
	}
	.bitcoin-section{
		width: 100%;
		height: 200px;
	}
	.subscribe-skew2{
		display: none;
	}
	.bitcoin-laptop{
		display: none;
	}
	.relative{
		position: relative;
	}
	
	.rotate{
		display: none;
	}
	.bitcoin-phone{
		width: 300px;
		height: auto;
		position: absolute;
		
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/*margin-left: auto;
		margin-right: auto;
		display: block;*/
		
	}
	.bitcoin, .ethereum, .xrp{
		display: inline-block;
		margin-left: 1.3rem;
		margin-right: 1.3rem;
		width: 50px;
		height: 50px;
		animation: move2 3s  linear infinite;
	}

-webkit-@keyframes  move2{
	
	100% {transform: rotate(360deg) };
}
		
@keyframes  move2{
	
	100% {transform: rotate(360deg) };
}
	
	
}
#footer{
	width: 100%;
	height: auto;
	background: hsl(180, 20%, 45%);
	float: left;
}
.services-float{
	float: left;
	height: auto;
	
}
.products-footer, .data-footer, .research-footer, .support-footer, .company-footer, .legal-footer{
	width: 15%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	float: left;
}
#footer p{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	line-height: 1.6;
}

#footer h5{
   font-size: 20px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@media(max-width: 1020px){
	.services-float{
		float: left;
		height: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.products-footer, .data-footer, .research-footer, .support-footer, .company-footer, .legal-footer{
	width: 7%;
	margin-left: 1.8rem;
	margin-right: 1.8rem;		
	}
	
	.products-footer{
		width: 150px !important;
	}
	.doc{
		font-size: 13px;
	}
	
	
}
@media(max-width: 760px){
	    #footer{
			height: auto;
	}
		.products-footer, .data-footer, .research-footer, .support-footer, .company-footer, .legal-footer{
	        width: 200px !important;
			margin-left: auto;
			margin-right: auto;
			display: block;
			float: none;
		}
	}








